/* My own stuff */
.title {
  line-height: 0px;
  display: inline-block;
  margin-top: 20px;
}

.facebok {
  font-weight: bold;
  color: #797979;
  padding-left: 80px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: -15px;
  margin-bottom: -3px;
  display: inline-block;
}

.toolTipIcon {
  width: 20px;
  height: 20px;
  margin-bottom: -15px;
  opacity: 0.65;
  align-content: center;
}

.minWords {
    width: 38px;
    font-size:12pt;
    font-weight: bold;
    text-align: center;
    color:#2196F3;
    background-color: rgb(255, 255, 255, 0);
    border-top-color: rgb(255, 255, 255, 0);
    border-left-color: rgb(255, 255, 255, 0);
    border-right-color: rgb(255, 255, 255, 0);
    border-bottom-color: #2196F3;
}

.percent {
    color:#2196F3;
    font-size:12pt;
    font-weight:bold;
}

/* The following taken and/or modified from w3schools */
.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 155px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #2196F3;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -160px;
  margin-bottom: -12px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 11pt;
  line-height: 13pt;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.button {
  background-color: #4CAF50;
  border-radius: 10%;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.cleanButton {
  background-color: rgb(255, 255, 255, 0); 
  color: black; 
  border: 2px solid #ff776d;
}

.cleanButton:hover {
  background-color: #ff776d;
  color: white;
}

.restoreButton {
  background-color: rgb(255, 255, 255, 0); 
  color: black; 
  border: 2px solid rgb(136, 214, 139);
}

.restoreButton:hover {
  background-color: rgb(136, 214, 139);
  color: white;
}

.switch {
  position: relative;
  top: 7px;
  left: 5px;
  display: inline-block;
  width: 30px;
  height: 17px;
}
  
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #949494;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: #2196F3;
}
  
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
  
/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}
  
.slider.round:before {
  border-radius: 50%;
}

.rslider {
  -webkit-appearance: none;
  width: 50%;
  height: 7px;
  border-radius: 5px;   
  background: #949494;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
  
.rslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #2196F3;
  cursor: pointer;
}
